In [9]:
print ("hello world!")

hello world!

In [11]:
#order of Addition

1+3

4

In [12]:
#multiplication
5*8

40

In [13]:
#subtraction
20-8

12

In [2]:
type(200)

int

In [4]:
type("hello world!")

str

In [5]:
type(0.5)

float

In [7]:
a=40
type(a)

int

In [8]:
a+3

43

In [9]:
a

40

In [10]:
b=5
a/b

8.0

In [16]:
#reassignment
a=1000

# reasignment with same variables

In [17]:
# keep in mind ,if you run this more than once you will be running a=a+a!
a=a+a

In [18]:
#creating strings
"hello this is my first string"

'hello this is my first string'

In [19]:
"i am enjoying the learning process"

'i am enjoying the learning process'

In [23]:
"Thank you for this oppurtunity DSN"

'Thank you for this oppurtunity DSN'

In [26]:
a=("hello this is my first string")
type(a)

str

In [1]:
type(alist)

NameError: name 'alist' is not defined

In [2]:
my_list =[1,2,3,4]

In [4]:
my_list2=['a','b','c',1,2]

In [5]:
type(my_list2)

list

In [7]:
a=100
b=200
c=300
my_list3=[a,b,c,1,7,]

In [8]:
my_list3

[100, 200, 300, 1, 7]

In [9]:
#indexing and slicing

In [10]:
mylist=['a','b','c','d']

In [11]:
mylist[2]

'c'

In [12]:
mylist[0]

'a'

In [13]:
mylist[-4]

'a'

In [14]:
mylist[1:]

['b', 'c', 'd']

In [15]:
mylist[0:3]

['a', 'b', 'c']

In [16]:
mylist[1:2:3]

['b']

In [17]:
#len funtion

In [18]:
len('string')

6

In [19]:
len(mylist)

4

In [20]:
mylist2=[1,2,3]

In [21]:
mylist2

[1, 2, 3]

In [24]:
mylist2.append(6)

In [25]:
mylist2

[1, 2, 3, 6]

In [28]:
mylist2.pop(0)

1

mylist2

In [29]:
mylist2

[2, 3]

In [30]:
mylist=[1,2,3,4,5]

In [32]:
mylist.pop(3)

4

In [37]:
del mylist[0]

In [38]:
mylist

[3]

In [42]:
mylist3=[1,2,3,4,5,6]

In [43]:
del mylist3[1:3]

In [44]:
mylist3

[1, 4, 5, 6]

mylist.reverse()

In [48]:
mylist3.reverse()
mylist3

[6, 5, 4, 1]

In [53]:
mylist01=[20,50,10,50,14]
mylist00=[10,20,30,40,50]
mylist01.insert(3,"middle")
mylist01

[20, 50, 10, 'middle', 50, 14]

In [59]:
mylist01.extend(mylist00)
mylist01

[20,
 50,
 10,
 'middle',
 50,
 14,
 10,
 20,
 30,
 40,
 50,
 10,
 20,
 30,
 40,
 50,
 10,
 20,
 30,
 40,
 50]

In [60]:
#loops

In [ ]:
a=1
while a < 10:
    print('a is less than 10')
    print(a)
    a = a + 1

In [ ]:
x=0
while x < 3:
    print('x is currently')
    print (x)
    print("adding 1 to x")
    x=x+1

In [ ]:
x=2
while x < 6:
    print('x is currently')
    print (x)
    print("adding 1 to x")
    x=x+1